{% extends 'base.html' %}

{% block content %}


<div class="container">
  <div class="row border border-primary rounded p-4 m-5 mx-auto">
    <div class="col">
    	<h1 class="text-left col-md-6 mb-4"> Login </h1>

      	<form action="/login" method="POST">
		 {% csrf_token %}

		  <div class="form-group col-md-6">
		    <label>Username</label>
		    <input type="text" name="uname" class="form-control" placeholder="Enter your username">
		   </div>
		  <div class="form-group col-md-6">
		    <label>Password</label>
		    <input type="password" name="paswd" class="form-control"  placeholder="Password">
		  </div>

		  <div class="form-group col-md-6 ">
		  		<button type="submit" class="btn btn-primary ">Submit</button>
		  </div>
		  <small class="form-text text-muted col-md-6">Don't have an account? <a href="/register">Create one</a></small>
		</form>
  	</div>
  </div>
 </div>



{% endblock %}